* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}


.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.accordian {
  width: 95%;
  margin-left: 2.5%;
  color: darken(black, 25%);
}


.accordian ul ul li a {
  display: block;
  background-color: #eee;
  padding: 1rem;
  color: #777;
  border-bottom: 1px solid rgba(0, 0, 0, .05);

  &:hover {
    background-color: #55acee;
    color: #fff;
  }
}

.accordian ul ul {
  display: none;
}

.open {
  transform: rotate(45deg);
  transition: all .25s ease;
}

.accordian ul ul li:last-child a {
  border-bottom: 0;
}

.fa {
  transition: all .25s ease;
  float: right;
}

.accordian h3 {
  cursor: pointer;
}

.main4{
  height: 180px;
  border-radius: 15px;
  background-image: url(Asset/Image/Strip_Mob-2_600x.png);
  background-size: cover;
  background-position: center;
}

#round1{
  border-radius: 15px 15px 0px 0px;
}

#round2{
  border-radius: 0px 0px 15px 15px;
}

.toggleDiv{
  transition: border 0.5s;
}

.toggleDiv.active {
  color: black;
  padding: 10px;
  border: 2px solid #000;
  border-radius: 30px;
  background: linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.1));
}

.cardItemDiv{
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* border: 1px solid black; */
}

.cardtextDiv{
  /* border: 1px solid black; */
  width: 65%;
}

.productName{
  font-size: 12px;
  font-weight: bold;
}

.productPrice{
  font-size: 15px;
  font-weight: bold;
}

.productRemoveDiv{
  /* border: 1px solid black; */
  width: 5%;
}

.cardimageDiv{
  height: 100px;
  width: 25%;
}

.productImage{
  height: 100%;
  width: 100%;
}

.totalAmountTaxDiv{
  height: 50px;
  width: 100%;
  border: 1px solid transparent;
}

.offcanvas-backdrop.show{
  opacity: 0.3;
}